
<div class="row">

  <div class="span4 small-6 columns">
    <ol id="origin" class="meetup-lists simple_with_animation vertical">

    </ol>
  </div>
<% if current_user %>
  <div class="span4 small-6 columns">
    <ol id="drop" class="meetup-lists simple_with_animation vertical">
      <div class="user_meet_list">

      </div>
    </ol>
  </div>
<% end %>
</div>