// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.meet {
  background-color: #86B7F0;
}

li {
  list-style: none;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}

ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

#user_meetup_list {
  height: 500px;
  background-color: yellow;
}