// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.meet {
  background-color: gray;
}

li {
  list-style: none;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}

ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

.sortable {
  min-height: 300px;
  background-color: yellow;
  padding-top: 0.2em;
  padding-bottom: 0.2em;

  // first-child {
  //   background-color: red;
  // }

  li {
    margin: 0.1em;

    padding-left: 0.2em;
    
    &:first-child{
      margin-top: 0;
    }

    &:last-child{
      margin-bottom: 0;
    }

  }

  .ui-sortable-helper {
    background-color: red;
    opacity: 0.5;
  }

  p {
    margin-bottom:0;
  }
}
